  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f3eb;
  }
  
  .login-box {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
  }
  
  .login-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .login-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  .login-header h2 {
    font-size: 22px;
    color: #333;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .login-form label {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
  }
  
  .login-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 14px;
  }
  
  .login-button {
    background: #d3d3d3;
    color: #333;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .login-button:hover {
    background: #bdbdbd;
  }
  
  
.book-icon {
  width: 100px;
  height: 23px;
}


  
.lamp {
    width: 45px;
    height: auto;
    margin: 0 15px; 
  }
  
  .img-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 150px;
    position:fixed;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding-bottom: 20%;
  }

  .main-container {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f9f6ec;
    height: 100vh;
  }
  
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 150px;
    background-color: #f9f6ec;;
    border-bottom: 2px solid #201f11;
    position: relative;
    margin-bottom: 50px;
  }
  
.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

.underline {
    width: 90px;
    height: 20px;
    background-color: #684c30;
    margin-top: 5px;
  }

.nav-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 150px;
    position: absolute;
    left: 50%;
    top: calc(100% + 15px);
    transform: translateX(-50%);
    border-bottom: 2px solid #201f11;
    width: 100%;
  }

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.nav-group a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    padding-bottom: 10%;
  }

  .error-message {
    color: red;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .success-message {
    color: green;
    font-weight: bold;
    margin-top: 10px;
  }
  