{% extends 'layout.html' %}

{% block content %}
  <div class="timeline">
    <div class="followings half">
      <h2>팔로잉 목록</h2>
      {% if user.Followings %}
        {% for following in user.Followings %}
          <!-- <div>{{following.nick}}</div> -->

          <div>
            <!-- 팔로잉 사용자의 이름을 클릭하면 해당 사용자의 프로필로 이동 -->
            <a href="/user_profile/{{ following.nick }}">{{ following.nick }}</a>
          </div>

          
        {% endfor %}
      {% endif %}
    </div>
    <div class="followers half">
      <h2>팔로워 목록</h2>
      {% if user.Followers %}
        {% for follower in user.Followers %}
          <!-- <div>{{follower.nick}}</div> -->

          <div>
            <!-- 팔로워 사용자의 이름을 클릭하면 해당 사용자의 프로필로 이동 -->
            <a href="/user_profile/{{ follower.nick }}">{{ follower.nick }}</a>
          </div>


        {% endfor %}
      {% endif %}
    </div>
  </div>
{% endblock %}
