

.container {
  background-color: #f9f6ec;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}


.logo-Community {
  width: 50px;
  height: auto;
  margin-right: 10px;
  margin-top: -10px; 
}


.title {
  font-size: 24px;
  font-weight: bold;
}
.search-bar {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
.search-input {
  position: relative;
}
.search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: gray;
}
input {
  padding-left: 30px;
  padding-right: 10px;
  border-radius: 5px;
  border: 1px solid gray;
  height: 30px;
}
.write-button {
  background-color: gray;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
}
.review-list {
  display: flex;
  gap: 20px;
}
.pin {
  position: absolute;
  top: -10px;
  right: 10px;
  background-color: white;
  padding: 5px;
  border-radius: 50%;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
.review-title {
  font-size: 18px;
  font-weight: bold;
}
.nickname {
  display: flex;
  gap: 5px;
  color: gray;
}
.pagination {
  margin-top: 20px;
  display: flex;
  gap: 5px;
}
.page-button {
  width: 30px;
  height: 30px;
  background-color: #ddd;
  border-radius: 5px;
}

.header_community{
  color:white;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

button {
  margin-top: 10px;
}

.view_ractangle{
  border: 2px solid black; /* 큰 사각형 테두리 */
    width: 400px; /* 원하는 가로 크기 */
    min-height: 30px; /* 충분한 세로 크기 확보 */
    border-radius: 8px;
    border: 1px solid black;
    background-color: transparent;
    display: inline-block; /* 내부 요소 가로 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    justify-content: space-between; /* 내부 요소를 양쪽 정렬 */
    padding: 10px; /* 내부 여백 */
    padding-top: 100px;
}


.squre {
  border: 1.5px solid black;
  background-color: hsl(46, 52%, 95%);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px; 
}

.button-container {
  position: relative; 
}

.submit-btn {
  position: absolute;
  bottom: 10px;
  right: 50px;
}



.h-search-bar input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 17px;
  width: 300px;
}
.h-search-input {
  position: relative;
  top: -60px;
  left: 280px;
}
.h-write-button {
  position: relative;
  top: -60px;
  left: 281px;
}
.review-card {
  width: 306px;
  height: 188px;
  padding: 15px;
  background-color: white;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
  position: relative;
}
.h-book-title {
  margin-top: 10px;
  font-size: 32px;
  text-align: center;
  color: #201f11;
}
.stars {
  margin: -4px;
}
.h-review-title {
  font-size: 22px;
  font-weight: bold;
}
.h-container {
  background-color: #f9f6ec;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1px;
}