
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f9f6ec;
    padding: 20px;
  }
  
  .content-box {
    background-color: #f9f6ec;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    max-width: 400px;
    width: 100%;
    align-items: center;
  }
  
  /* Titles */
  .result-title, .question-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 16px;
    text-align: center;
    width: 100%;
  }
  
  .result-text {
    font-size: 1.125rem;
    margin-top: 10px;
    text-align: center;
  }
  
  .option-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .option-button {
    padding: 10px;
    background-color: #f9f6ec;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .option-button:hover {
    background-color: #e0e0e0;
  }
  

  .logo-book-Test {
    width: 1500px; /* 더 크게 설정 */
    height: 900px; /* 원하는 높이 설정 */
    object-fit: contain; /* 이미지 비율 유지 */
    align-items: center;
    align-self: center;
  }